.key-event {
  border: 1px solid transparent;
  padding: 5px;
}

.key-event.highlight {
  -webkit-animation: sunrise 2s;
}

@-webkit-keyframes sunrise {
  0% {
    border: 1px solid black;
    opaity: 1;
  }
  100% {
    border: 1px solid transparent;
  }
}
