.key-event {
  border: 1px solid transparent;
  padding: 5px;
}

.key-event.highlight {
  -webkit-animation: sunrise 2s;
}

@-webkit-keyframes sunrise {
  0% {
    border: 1px solid black;
    opaity: 1;
  }
  100% {
    border: 1px solid transparent;
  }
}

.key-event .light {
  color: #757575;
  font-size: 85%;
}


.key-event.down {
  color: red;
}

.key-event.up {
  color: blue;
}

.key-event.gap {
  padding: 20px;
}
